/* .main {
  background-image: url(http://localhost:5173/src/assets/image.jpg);
  background-size: contain;
} */
.h1{
  /* color: white; */
  text-align: center;
  padding-top: 12px;
  font-weight: 400;
}
.productlist {
  width: 250px;
  height: 350px;
  /* margin: 10px; */
  padding: 10px;
  border: 2px solid lightgray;
  /* background-color: lightgray; */
  border-radius: 5px;
}
.buttonClass{
  border: 2px solid #405cf5;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: white;
  background-color: #405cf5;;
}
.userdata {
  /* width: 1700px; */
  /* margin-left: 100px; */
  background: transparent;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.productlist img {
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
}
